In [2]:
import numpy as np
import pandas as pd

In [3]:
pwd

'/home/zaimi/Desktop/python'

In [4]:
ls

main.py              udemy5.ipynb          UdemyPandas4.ipynb
notebook/            UdemyDataframe.ipynb  UdemyPandas.ipynb
PandasGroupBy.ipynb  Udemy.ipynb           venv/
testfile.txt         UdemyPandas2.ipynb

These are supported by the jupyter notebook, in normal python files you can use the os module

In [5]:
import os
os.getcwd()

'/home/zaimi/Desktop/python'

In [9]:
df = pd.read_csv('notebook/03-Pandas/example.csv', header= None)
df # you can skip the hearder with this attribute

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [12]:
df = pd.read_csv('notebook/03-Pandas/example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [21]:
# df.to_ commands 
# df.to_clipboard() # will copy the data to the clipboard
df.to_csv('newfile.csv', index= False) # The full filepath is passed as an argument
# index = False is reccomanded when cpnverting to csv files

In [22]:
new = pd.read_csv('newfile.csv')
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Reading from HTML Tables

Usually more efficient to use an API, it is faster and some websites dont allow to access contents of the tables through pandas

In [37]:
url = "https://en.wikipedia.org/wiki/World_population"

In [38]:
tables = pd.read_html(url) # grabs every single table and returns a listfrom msilib.schema import tables
tables
# you can also pass html files after saving them

[                                                    #  \
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 5                                                   6
 6                                                   7
 7                                                   8
 8                                                   9
 9                                                  10
 10                                                NaN
 11  Notes: .mw-parser-output .reflist{font-size:90...

                               Most populous countries  \
 0                                            China[B]
 1                                               India
 2                                       United States
 3                                           Indonesia
 4                                            Pakistan
 5                                              Brazil
 6                                             Nigeria
 7                                          Bangladesh
 8                                              Russia
 9                                              Mexico
 10                                        World total
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2000  \
 0                                                1270
 1                                                1053
 2                                                 283
 3                                                 212
 4                                                 136
 5                                                 176
 6                                                 123
 7                                                 131
 8                                                 146
 9                                                 103
 10                                               6127
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2015  \
 0                                                1376
 1                                                1311
 2                                                 322
 3                                                 258
 4                                                 208
 5                                                 206
 6                                                 182
 7                                                 161
 8                                                 146
 9                                                 127
 10                                               7349
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                               2030[A]
 0                                                1416
 1                                                1528
 2                                                 356
 3                                                 295
 4                                                 245
 5                                                 228
 6                                                 263
 7                                                 186
 8                                                 149
 9                                                 148
 10                                               8501
 11  Notes: .mw-parser-output .reflist{font-size:90...  ,
                      Region Density(inhabitants/km2) Population(millions)  \
 0                      Asia                    104.1                 4641
 1                    Africa                     44.4                 1340
 2                    Europe                     73.4                  747
 3             Latin America                     24.1                  653
 4  Northern America[note 2]                     14.9                  368
 5                   Oceania                        5                   42
 6                Antarctica                       ~0            0.004[16]

                                Most populous country  \
 0                      1,411,778,000 – China[note 1]
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 3]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis(37,400,000 – Gre...
 1     09,500,000 – Cairo(20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow(20,004,000 – Moscow metrop...
 3  12,252,000 – São Paulo City(21,650,000 – São P...
 4  08,804,000 – New York City(23,582,649 – New Yo...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   World population milestones in billions [3](Worldometers estimates)        \
                                                            Population     1
 0                                               Year                   1804
 1                                      Years elapsed                      —


       2     3     4     5     6     7     8     9    10
 0  1927  1960  1974  1987  1999  2011  2023  2037  2057
 1   123    33    14    13    12    12    12    14    20  ,
                                                    0  \
 0  .mw-parser-output .legend{page-break-inside:av...

                                    1
 0  67.5–70 65–67.5 60–65 55–60 50–55  ,
    Rank Country / Dependency  Population  Percentage of the world  \
 0     1                China  1412600000                      NaN
 1     2                India  1373761000                      NaN
 2     3        United States   333016093                      NaN
 3     4            Indonesia   272248500                      NaN
 4     5             Pakistan   229488994                      NaN
 5     6              Nigeria   216746934                      NaN
 6     7               Brazil   215043602                      NaN
 7     8           Bangladesh   168220000                      NaN
 8     9               Russia   147190000                      NaN
 9    10               Mexico   128271248                      NaN

           Date Source (official or from the United Nations)
 0  31 Dec 2021                 National annual estimate[93]
 1   1 Mar 2022                 Annual national estimate[94]
 2  22 Aug 2022                National population clock[95]
 3   1 Jul 2021                 National annual estimate[96]
 4   1 Jul 2022                            UN projection[97]
 5   1 Jul 2022                            UN projection[97]
 6  22 Aug 2022                National population clock[98]
 7   1 Jul 2020               Annual Population Estimate[99]
 8   1 Oct 2021         2021 preliminary census results[100]
 9  31 Mar 2022             National quarterly estimate[101]  ,
    Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   173280000     143998              1203
 2     3    Palestine     5266785       6020               847
 3     4      Lebanon     6856000      10452               656
 4     5       Taiwan    23604000      36193               652
 5     6  South Korea    51781000      99538               520
 6     7       Rwanda    12374000      26338               470
 7     8        Haiti    11578000      27065               428
 8     9  Netherlands    17730000      41526               427
 9    10       Israel     9560000      22072               433,
    Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1381510000    3287240               420
 1     2        Pakistan   229700000     803940               286
 2     3      Bangladesh   173280000     143998              1203
 3     4           Japan   126010000     377873               333
 4     5     Philippines   112320000     300000               374
 5     6         Vietnam    96209000     331689               290
 6     7  United Kingdom    66436000     243610               273
 7     8     South Korea    51781000      99538               520
 8     9          Taiwan    23604000      36193               652
 9    10       Sri Lanka    21803000      65610               332

   Population trend
 0          Growing
 1  Rapidly growing
 2  Rapidly growing
 3   Declining[102]
 4          Growing
 5          Growing
 6          Growing
 7           Steady
 8           Steady
 9          Growing  ,
     Year  Population Yearly growth           Density(pop/km2)  \
     Year  Population             %    Number Density(pop/km2)
 0   1951  2584034261         1.88%  47603112               17
 1   1952  2630861562         1.81%  46827301               18
 2   1953  2677608960         1.78%  46747398               18
 3   1954  2724846741         1.76%  47237781               18
 4   1955  2773019936         1.77%  48173195               19
 ..   ...         ...           ...       ...              ...
 65  2016  7464022000         1.14%  84225000               50
 66  2017  7547859000         1.12%  83837000               51
 67  2018  7631091000         1.10%  83232000               51
 68  2019  7713468000         1.08%  82377000               52
 69  2020  7795000000         1.05%  81331000               52

    Urban population
              Number    %
 0         775067697  30%
 1         799282533  30%
 2         824289989  31%
 3         850179106  31%
 4         877008842  32%
 ..              ...  ...
 65       4060653000  54%
 66       4140189000  55%
 67       4219817000  55%
 68       4299439000  56%
 69       4378900000  56%

 [70 rows x 7 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  Latin America& Carib.[Note 1]  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN                            0.0
 1   10,000 BC        4     NaN     NaN     NaN                            NaN
 2     8000 BC        5     NaN     NaN     NaN                            NaN
 3     6500 BC        5     NaN     NaN     NaN                            NaN
 4     5000 BC        5     NaN     NaN     NaN                            NaN
 5     4000 BC        7     NaN     NaN     NaN                            NaN
 6     3000 BC       14     NaN     NaN     NaN                            NaN
 7     2000 BC       27     NaN     NaN     NaN                            NaN
 8     1000 BC       50     7.0    33.0     9.0                            NaN
 9      500 BC      100    14.0    66.0    16.0                            NaN
 10       AD 1      200    23.0   141.0    28.0                            NaN
 11       1000      400    70.0   269.0    50.0                            8.0
 12       1500      458    86.0   243.0    84.0                           39.0
 13       1600      580   114.0   339.0   111.0                           10.0
 14       1700      682   106.0   436.0   125.0                           10.0
 15       1750      791   106.0   502.0   163.0                           16.0
 16       1800     1000   107.0   656.0   203.0                           24.0
 17       1850     1262   111.0   809.0   276.0                           38.0
 18       1900     1650   133.0   947.0   408.0                           74.0
 19       1950     2525   229.0  1394.0   549.0                          169.0
 20       1955     2758   254.0  1534.0   577.0                          193.0
 21       1960     3018   285.0  1687.0   606.0                          221.0
 22       1965     3322   322.0  1875.0   635.0                          254.0
 23       1970     3682   366.0  2120.0   657.0                          288.0
 24       1975     4061   416.0  2378.0   677.0                          326.0
 25       1980     4440   478.0  2626.0   694.0                          365.0
 26       1985     4853   550.0  2897.0   708.0                          406.0
 27       1990     5310   632.0  3202.0   721.0                          447.0
 28       1995     5735   720.0  3475.0   728.0                          487.0
 29       2000     6127   814.0  3714.0   726.0                          527.0
 30       2005     6520   920.0  3945.0   729.0                          564.0
 31       2010     6930  1044.0  4170.0   735.0                          600.0
 32       2015     7349  1186.0  4393.0   738.0                          634.0

     North America[Note 1]  Oceania              Notes
 0                     0.0      NaN              [119]
 1                     NaN      NaN              [120]
 2                     NaN      NaN                NaN
 3                     NaN      NaN                NaN
 4                     NaN      NaN                NaN
 5                     NaN      NaN                NaN
 6                     NaN      NaN                NaN
 7                     NaN      NaN                NaN
 8                     NaN      NaN  [citation needed]
 9                     NaN      NaN                NaN
 10                    NaN      NaN                NaN
 11                    1.0      2.0                NaN
 12                    3.0      3.0                NaN
 13                    3.0      3.0                NaN
 14                    2.0      3.0                NaN
 15                    2.0      2.0                NaN
 16                    7.0      3.0                NaN
 17                   26.0      2.0                NaN
 18                   82.0      6.0                NaN
 19                  172.0     12.7              [121]
 20                  187.0     14.2                NaN
 21                  204.0     15.8                NaN
 22                  219.0     17.5                NaN
 23                  231.0     19.7                NaN
 24                  242.0     21.5                NaN
 25                  254.0     23.0                NaN
 26                  267.0     24.9                NaN
 27                  281.0     27.0                NaN
 28                  296.0     29.1                NaN
 29                  314.0     31.1                NaN
 30                  329.0     33.4                NaN
 31                  344.0     36.4                NaN
 32                  358.0     39.3                NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
    Year  UN est.(millions) Difference  USCB est.(millions) Difference.1
 0  2005               6542          –                 6473            –
 1  2010               6957        415                 6866          393
 2  2015               7380        423                 7256          390
 3  2020               7795        415                 7643          380
 4  2025               8184        390                 8007          363
 5  2030               8549        364                 8341          334
 6  2035               8888        339                 8646          306
 7  2040               9199        311                 8926          280
 8  2045               9482        283                 9180          254
 9  2050               9735        253                 9408          228,
     Year  World           Asia         Africa       Europe  \
 0   2000   6144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)
 1   2005   6542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)
 2   2010   6957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)
 3   2015   7380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)
 4   2020   7795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)
 5   2025   8184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)
 6   2030   8549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)
 7   2035   8888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)
 8   2040   9199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)
 9   2045   9482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)
 10  2050   9735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)
 11  2055   9958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)
 12  2060  10152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)
 13  2065  10318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)
 14  2070  10459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)
 15  2075  10577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)
 16  2080  10674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)
 17  2085  10750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)
 18  2090  10810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)
 19  2095  10852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)
 20  2100  10875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)

    Latin America/Caribbean Northern America    Oceania
 0               522 (8.5%)       312 (5.1%)  31 (0.5%)
 1               558 (8.5%)       327 (5.0%)  34 (0.5%)
 2               591 (8.5%)       343 (4.9%)  37 (0.5%)
 3               624 (8.5%)       357 (4.8%)  40 (0.5%)
 4               654 (8.4%)       369 (4.7%)  43 (0.6%)
 5               682 (8.3%)       380 (4.6%)  45 (0.6%)
 6               706 (8.3%)       391 (4.6%)  48 (0.6%)
 7               726 (8.2%)       401 (4.5%)  50 (0.6%)
 8               742 (8.1%)       410 (4.5%)  53 (0.6%)
 9               754 (8.0%)       418 (4.4%)  55 (0.6%)
 10              762 (7.8%)       425 (4.4%)  57 (0.6%)
 11              767 (7.7%)       432 (4.3%)  60 (0.6%)
 12              768 (7.6%)       439 (4.3%)  62 (0.6%)
 13              765 (7.4%)       447 (4.3%)  64 (0.6%)
 14              759 (7.3%)       454 (4.3%)  66 (0.6%)
 15              750 (7.1%)       461 (4.4%)  67 (0.6%)
 16              739 (6.9%)       468 (4.4%)  69 (0.7%)
 17              726 (6.8%)       474 (4.4%)  71 (0.7%)
 18              711 (6.6%)       479 (4.4%)  72 (0.7%)
 19              696 (6.4%)       485 (4.5%)  74 (0.7%)
 20              680 (6.3%)       491 (4.5%)  75 (0.7%)  ,
   Population(in billions)     0.5  0.5.1     1   1.1     2   2.1     4   4.1  \
 0                    Year  1500.0   1500  1804  1804  1927  1927  1974  1974

In [39]:
len(tables) # the number of tables

25

In [40]:
# the first table 
world_topten = tables[0] # the top 10 most populous countries table
world_topten

,#,Most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [41]:
tables[0].columns # these are teh columns

Index(['#', 'Most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [42]:
# now we drop the last row
world_topten = world_topten.drop(11, axis=0) # drop row 11 , axis specifies how the operation is done
world_topten

      # Most populous countries  2000  2015 2030[A]
0     1                China[B]  1270  1376    1416
1     2                   India  1053  1311    1528
2     3           United States   283   322     356
3     4               Indonesia   212   258     295
4     5                Pakistan   136   208     245
5     6                  Brazil   176   206     228
6     7                 Nigeria   123   182     263
7     8              Bangladesh   131   161     186
8     9                  Russia   146   146     149
9    10                  Mexico   103   127     148
10  NaN             World total  6127  7349    8501

In [43]:
# now remove the # column
world_topten = world_topten.drop('#', axis=1)
world_topten

   Most populous countries  2000  2015 2030[A]
0                 China[B]  1270  1376    1416
1                    India  1053  1311    1528
2            United States   283   322     356
3                Indonesia   212   258     295
4                 Pakistan   136   208     245
5                   Brazil   176   206     228
6                  Nigeria   123   182     263
7               Bangladesh   131   161     186
8                   Russia   146   146     149
9                   Mexico   103   127     148
10             World total  6127  7349    8501

In [46]:
# now change the column names
world_topten.columns = ['Country', '2000', '2015', 'Est']
world_topten

          Country  2000  2015   Est
0        China[B]  1270  1376  1416
1           India  1053  1311  1528
2   United States   283   322   356
3       Indonesia   212   258   295
4        Pakistan   136   208   245
5          Brazil   176   206   228
6         Nigeria   123   182   263
7      Bangladesh   131   161   186
8          Russia   146   146   149
9          Mexico   103   127   148
10    World total  6127  7349  8501

In [49]:
tables[5].set_index('Rank')

          Country  Population  Area(km2)  Density(pop/km2)
Rank
1       Singapore     5704000        710              8033
2      Bangladesh   173280000     143998              1203
3       Palestine     5266785       6020               847
4         Lebanon     6856000      10452               656
5          Taiwan    23604000      36193               652
6     South Korea    51781000      99538               520
7          Rwanda    12374000      26338               470
8           Haiti    11578000      27065               428
9     Netherlands    17730000      41526               427
10         Israel     9560000      22072               433

In [50]:
# explorting to html
world_topten.to_html('sample_table', index=False)