Pandas can only read raw data, not visualisation or custom function and stuff
Pandas reads excel files as a dictionary with the key being the shit

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('notebook/03-Pandas/my_excel_file.xlsx', sheet_name='First_Sheet')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
# what can we do if we dont know the sheet names
wb = pd.ExcelFile('notebook/03-Pandas/my_excel_file.xlsx')
wb.sheet_names # this will return all the sheet names

['First_Sheet']

In [6]:
# we can grab all the sheets 
excel_sheet_dict = pd.read_excel('notebook/03-Pandas/my_excel_file.xlsx', sheet_name=None)
type(excel_sheet_dict) # Saved as a dictionay

dict

In [8]:
excel_sheet_dict.keys() # will return all tehkeys as a list

dict_keys(['First_Sheet'])

In [9]:
# passing the keys will return the dataframe
excel_sheet_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [11]:
our_df = excel_sheet_dict['First_Sheet']
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
our_df.to_excel('example.xlsx', sheet_name='First_Sheet', index=False) # pass a sheet name to save the data
# if we have a default index we shouldnt save it
# if we have a labbeled index we should save it