# Pandas Library

In [4]:
import numpy as np
import pandas as pd

Rows are denoted by an index, in this case a labeled index
It can be string names and we can grab info based on the labeld index
The data will still be numericaly organized

In [6]:
myindex = ['usa', 'canada', 'mexico']

In [7]:
mydata = [1776,1867,1821]

In [10]:
myser = pd.Series(data = mydata, index = myindex) # this will cahnge the index/rows
myser

usa       1776
canada    1867
mexico    1821
dtype: int64

Alternatively you can pass them in this short hand notation

In [16]:
myser = pd.Series(mydata, myindex)
myser

usa       1776
canada    1867
mexico    1821
dtype: int64

We can use both Series and Numeric indexes

In [11]:
myser['usa']

1776

In [12]:
myser[0]

1776

Series can be created from a dictionary

In [17]:
ages = {
    'Sam':5, 
    'Frank':10,
    'Spike':7
}
pd.Series(ages) # pytohn will automatically map keys and values

Sam       5
Frank    10
Spike     7
dtype: int64

In [18]:
# Find out bob expenses
dictionaryHolder = {
    'Andrew' : 200, 
    'Bob' : 150,
    'Claire' : 450
}
pd.Series(dictionaryHolder)['Bob']

150

In [19]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
sales_q1.keys() # will return and index object with index objects in order

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

These are built based on numpy arrays and we can perform multiple operations on them

In [24]:
np.array([1,2]) * 2

array([2, 4])

In [27]:
# using numpy operations on series
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [28]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

We can add both of the quarters

In [26]:
# calculate sales for both quarters
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

 Pandas will match labels automatically
 Nonmatching labels will be replaced by NaN

Use the .add() operation on a series to customize non-matching labels

Pandas will replace int to float numbers for numerical calculations

In [29]:
sales_q1.add(sales_q2,fill_value=0) 
# fill_values will use to fill non matching labels
# Pandas will convert any integer in floats

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [30]:
sales_q1.dtype

dtype('int64')

In [31]:
(sales_q1.add(sales_q2, fill_value=0)).dtype

dtype('float64')

In [32]:
pd.Series(name="Series", dtype=int)
# name is used to give a name to the series
# dtype specifies teh datatype

Series([], Name: Series, dtype: int64)