sqlalchemy is a usseful library for working with sequel

In this course we use SQLite since that comes with python itself, it creates a temporary database in ram

In [15]:
import pandas as pd
import numpy as np

In [16]:
from sqlalchemy import create_engine

In [17]:
temp_db = create_engine('sqlite:///:memory:') # will create a temp database on the memory

In [18]:
type(temp_db)

sqlalchemy.engine.base.Engine

In [19]:
df = pd.DataFrame(data=np.random.randint(0,100,size=(4,4)), columns=['a', 'b', 'c', 'd'])
df

    a   b   c   d
0  40  50  20  56
1  20  20  80  22
2  70  98  98  19
3  96  52   2  82

In [20]:
df.to_sql(name = 'new_table', con = temp_db, index=False)
# now this df is a table in our database
# remember to index=False so we dont pass the index

4

In [21]:
df.to_sql(name = 'new_table', con=temp_db, index=False) # this will fail since it is present on the db
# if_exists is by default fail but you can change its parameters for different functions
# if_exists = 'replace' will replace
# if_exists = 'append' will add it on top

ValueError: Table 'new_table' already exists.

In [22]:
# reading an entire table
new_df = pd.read_sql(sql='new_table', con=temp_db)
new_df

    a   b   c   d
0  40  50  20  56
1  20  20  80  22
2  70  98  98  19
3  96  52   2  82

In [26]:
#we can pass queries
#selects the sequel query
result = pd.read_sql_query(sql='SELECT a, c FROM new_table', con=temp_db)

In [27]:
result

    a   c
0  40  20
1  20  80
2  70  98
3  96   2